body {
  margin: 0;
}
.app.dark {
  background-color: #160c28;
  color: lightgray;
  .chartGrid {
    stroke: lightgray;
  }
  .table {
    background-color: #111;
    .tableCell {
      color: lightgray;
    }
  }
  .navbar {
    color: lightgray;
    border-color: #333;
    .search {
      border-color: #333;
    }
  }
  .sidebar {
    background-color: #160c28;
  }
  .top {
    .logo {
      color: lightgray;
    }
    .icon {
      color: #999;
    }
  }
  hr {
    border-color: #333;
  }
  ul {
    li {
      &:hover {
        background-color: #333;
      }

      .icon {
        color: lightgray;
      }
    }
  }
  .datatable {
    .dataGrid {
      color: gray;
      border: none;
      .viewButton,
      .deleteButton {
        color: gray;
        border: gray;
      }
    }
  }
  input {
    background-color: transparent;
  }
}
