.sidebar {
  border-right: 0.5px solid rgb(230, 227, 227);
  flex: 1;
  min-height: 100vh;
  width: 100%;
  // background-image: url("../../../public/side.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: #160c28;
  .wrapper {
    height: 100%;
    .top {
      height: 50px;
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: 15px;
      gap: 10px;
      .logo {
        font-size: 20px;
        font-weight: bold;
        color: #ffb405;
      }
      .icon {
        font-size: 22px;
        color: #ffb405;
      }
    }
    hr {
      height: 0;
      border: 0.5px solid rgb(230, 227, 227);
      margin: 0;
    }
    .center {
      padding-left: 10px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        .title {
          font-size: 10px;
          font-weight: bold;
          color: white;
          margin-top: 15px;
          margin-bottom: 5px;
        }
        li {
          display: flex;
          align-items: center;
          padding: 5px;
          cursor: pointer;
          &:hover {
            background-color: #c5c6d0c3;
            span {
              color: #160c28;
            }
          }
          .icon {
            font-size: 18px;
            color: #ffb405;
          }
          span {
            font-size: 15px;
            font-weight: 500;
            color: white;
            margin-left: 10px;
          }
        }
      }
    }
    .bottom {
      display: flex;
      margin: 10px;
      align-items: center;
      .colorOption {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #ffb405;
        cursor: pointer;
        margin: 5px;
        &:nth-child(1) {
          background-color: whitesmoke;
        }
        &:nth-child(2) {
          background-color: #160c28;
        }
      }
    }
  }
}
